.student{
    color: blue;
    font-size: 20px;
    font-weight:900;

}
.youtube{
    border-radius: 30px;
    border-color: aqua;

}
.border{
    display: flex;
    gap: 30px;
    background-color:black;
    color: azure;
}
#styles{
    height: 200px;
    width: 200px;
    background-image: url("../pexels-pixabay-56866.jpg");
    background-size:contain;
    background-repeat: no-repeat;
    color: azure;
    
}
.voice{
    color: blue !important; 
}
#identity{
    height: 90vh;
    width: 80%;
    background-image: conic-gradient(red, yellow, green)!important;
    background-image: conic-gradient(pink,yellow,orange);