.animation{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    animation: user 2s 1;
    
}
@keyframes user {
25%{
    background-color: blue;
    
}
    50%{ 
       background-color: green;

    }
    75%{
        background-color:yellow;
    }
    100%{
        background-color: rgb(128, 0, 107);
    }
}

/* rotate,transformX,transformY,scale,skew,background color, */