.welcome{
    background-image:url("./62893\ copy.jpg");
    height: 50vh;
    width: 89%;
    background-size: cover;
    

    
}
.kgisl{
    display: flex;
    gap: 20px;
    padding: 50px;
}
.blue{
    color: rgb(52, 9, 93);
}
.kite{
    display: flex;
    gap: 100px;
    padding: 50px;

}
.center{
    text-align: center;
}